<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=Title%></title>
</head>
<body>
<form method="post" action="/signup">
    <label>name</label>
    <input type="text" name="name">
    <label>password</label>
    <input type="text" name="password">
    <input type="submit" value="signup">
</form>
</body>
</html>